# World University Rankings

We can find, at least, three global university rankings with different methodologies to classify the better schools:

1. The _Times Higher Education World University Ranking_: [https://www.timeshighereducation.com/world-university-rankings](https://www.timeshighereducation.com/world-university-rankings)
2. The _Academic Ranking of World Universities_: [http://www.shanghairanking.com/](http://www.shanghairanking.com/)
3. The _Center for World University Rankings_: [http://cwur.org/](http://cwur.org/)

## 1. The Times Higher Education World University Ranking (Times)

The **Times** World University Ranking:

| Year | Link (website) |
| ---- | :------  |
| 2018  | [https://www.timeshighereducation.com/world-university-rankings/2018/world-ranking#!/page/0/length/-1/sort_by/rank/sort_order/asc/cols/stats](https://www.timeshighereducation.com/world-university-rankings/2018/world-ranking#!/page/0/length/-1/sort_by/rank/sort_order/asc/cols/stats) | 
| 2017  | [https://www.timeshighereducation.com/world-university-rankings/2017/world-ranking#!/page/0/length/-1/sort_by/rank/sort_order/asc/cols/stats](https://www.timeshighereducation.com/world-university-rankings/2017/world-ranking#!/page/0/length/-1/sort_by/rank/sort_order/asc/cols/stats)  | 
| 2016  |  |
| 2015  |  |
| 2014  |  |
| 2013  |  |
| 2012  |  |

## 2. The Academic Ranking of World Universities (China)

The **China** World University Ranking:

| Year | Link (website)  |
| :---- | :-------------- |
| 2017 | [http://www.shanghairanking.com/ARWU2017.html](http://www.shanghairanking.com/ARWU2017.html) |
| 2016 | [http://www.shanghairanking.com/ARWU2016.html](http://www.shanghairanking.com/ARWU2016.html) |
| 2015 | [http://www.shanghairanking.com/ARWU2015.html](http://www.shanghairanking.com/ARWU2015.html) |
| 2014 | [http://www.shanghairanking.com/ARWU2014.html](http://www.shanghairanking.com/ARWU2014.html) |
| 2013 | [http://www.shanghairanking.com/ARWU2013.html](http://www.shanghairanking.com/ARWU2013.html) |
| 2012 | [http://www.shanghairanking.com/ARWU2012.html](http://www.shanghairanking.com/ARWU2012.html) |

## 3. The Center for World University Rankings (CWUR)

The **CWUR** World University Ranking:

| Year | Link (website)  |
| :---- | :-------------- |
| 2016 | [http://cwur.org/2016.php](http://cwur.org/2016.php) |
| 2015 | [http://cwur.org/2015.php](http://cwur.org/2015.php) |
| 2014 | [http://cwur.org/2014.php](http://cwur.org/2014.php) |
| 2013 | [http://cwur.org/2013.php](http://cwur.org/2013.php) |
| 2012 | [http://cwur.org/2012.php](http://cwur.org/2012.php) |

### 3.1 - CWUR (2016 dataset)

**2016 ranking**

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## CWUR 2016 dataset
datacwur2016 = 'data/cwur2016.csv'
cwur2016 = pd.read_csv(datacwur2016)

### Top 10 universities

In [46]:
cwur2016.head(10)

,World Rank,Institution,Location,National Rank,Quality of Education,Alumni Employment,Quality of Faculty,Publications,Influence,Citations,Broad Impact,Patents,Score
0,1,Harvard University,USA,1,1,1,1,1,1,1,1,3,100.00
1,2,Stanford University,USA,2,9,2,2,5,3,3,3,7,98.25
2,3,Massachusetts Institute of Technology,USA,3,2,12,3,15,2,2,2,1,97.12
3,4,University of Cambridge,United Kingdom,1,3,10,6,12,8,14,12,45,96.13
4,5,University of Oxford,United Kingdom,2,7,13,10,6,11,6,9,19,95.39
5,6,Columbia University,USA,4,13,6,9,14,12,15,14,2,94.12
6,7,"University of California, Berkeley",USA,5,6,21,5,11,4,8,6,21,91.35
7,8,University of Chicago,USA,6,11,14,8,17,16,11,17,83,90.72
8,9,Princeton University,USA,7,4,15,4,82,25,26,37,109,88.72
9,10,Yale University,USA,8,8,26,11,18,6,31,18,41,85.83

## Ranking by country (number of instituitions)

In [40]:
cwur2016.groupby('Location').count().sort_values(by=['World Rank'], ascending=[False]).head(5)

,World Rank,Institution,National Rank,Quality of Education,Alumni Employment,Quality of Faculty,Publications,Influence,Citations,Broad Impact,Patents,Score
Location,,,,,,,,,,,,
USA,224,224,224,224,224,224,224,224,224,224,224,224
China,90,90,90,90,90,90,90,90,90,90,90,90
Japan,74,74,74,74,74,74,74,74,74,74,74,74
United Kingdom,65,65,65,65,65,65,65,65,65,65,65,65
Germany,56,56,56,56,56,56,56,56,56,56,56,56

In [44]:
cwur2016['Location'].value_counts()

USA                     224
China                    90
Japan                    74
United Kingdom           65
Germany                  56
France                   48
Italy                    48
Spain                    41
South Korea              36
Canada                   32
Australia                27
Taiwan                   21
Brazil                   17
India                    16
Netherlands              13
Austria                  12
Sweden                   11
Turkey                   10
Belgium                  10
Switzerland               9
Finland                   9
Poland                    9
Iran                      8
Ireland                   8
Israel                    7
Greece                    7
New Zealand               6
Portugal                  6
Hong Kong                 6
Hungary                   6
Denmark                   5
Russia                    5
Norway                    5
South Africa              5
Czech Republic            4
Egypt                     4
Chile                     4
Malaysia                  3
Saudi Arabia              3
Thailand                  3
Argentina                 3
Singapore                 2
Slovenia                  2
Colombia                  2
Mexico                    2
Romania                   2
Puerto Rico               1
Pakistan                  1
Croatia                   1
Bulgaria                  1
Cyprus                    1
Uruguay                   1
Uganda                    1
Iceland                   1
Lebanon                   1
United Arab Emirates      1
Lithuania                 1
Estonia                   1
Slovak Republic           1
Serbia                    1
Name: Location, dtype: int64

In [38]:
cwur2016.loc[cwur2016['Location'] == 'USA']['Location'].count()

224

### Brazil's universities

In [49]:
cwur2016.loc[cwur2016['Location'] == 'Brazil']['Institution']

137                    University of São Paulo
326       Federal University of Rio de Janeiro
406                     University of Campinas
518         Federal University of Minas Gerais
574    Federal University of Rio Grande do Sul
621            Federal University of São Paulo
652          UNESP, São Paulo State University
741            Rio de Janeiro State University
878       Federal University of Santa Catarina
910              Fluminense Federal University
912                     University of Brasília
913                  Federal University of ABC
925               Federal University of Paraná
947           Federal University of São Carlos
961                Federal University of Bahia
965           Federal University of Pernambuco
969          Federal University of Santa Maria
Name: Institution, dtype: object

In [50]:
cwur2016.loc[cwur2016['Location'] == 'Brazil']['Institution'].count()

17

## Ploting World University Ranking / Country (CWUR, 2016)

In [56]:
# Defining a specific Data Frame to plot
cwur_graph = cwur2016['Location'].value_counts()